# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\brglf\OneDrive\Desktop\PROD-Projects\microservice-app\spring-boot-microservices-workshop-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
